@tailwind base;
@tailwind components;
@tailwind utilities;
/* * {
  border: 1px solid;
} */
.text-gradient {
  background-image: linear-gradient(to bottom, #ffc256, #9d1cc9);
  -webkit-background-clip: text;
  color: transparent;
}
.border-gradient {
  position: relative;

  border-radius: 8px;
  background-clip: padding-box;
  z-index: 1;
}

.border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(to right, #ffc256, #9d1cc9);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
